
/code/as3libs/.actionScriptProperties
/code/as3libs/.flexLibProperties
/code/as3libs/.project
/code/as3libs/.settings
/code/As3libsApp/.actionScriptProperties
/code/As3libsApp/.project
/code/As3libsApp/.settings
/code/LLK/.actionScriptProperties
/code/LLK/.project
/code/LLK/.settings

/code/as3libs/.settings
/code/As3libsApp/.settings
/code/As3libsApp/bin
/code/llk/bin
/code/MySoundPlayer/.actionScriptProperties
/code/MySoundPlayer/.project
/code/MySoundPlayer/.settings
/code/MySoundPlayer/bin-debug
/code/MySoundPlayer/.settings
/code/LLK2/.actionScriptProperties
/code/LLK2/.project
/code/LLK2/.settings
/code/LLK2/.settings/org.eclipse.core.resources.prefs
/code/LLK2/bin